body {
    font-family: 'Rubik', sans-serif !important;
}

.book-info {
    width: 50% !important;
}

img {
    height: 375px !important;
    width: 243px !important;
    margin-right: 40px !important;
    margin-bottom: 40px !important;
}

.card {
    width: 245px !important;
}

.card-title {
    height: 3rem;
}

.buttons {
    justify-content: space-between !important;
}

input,
textarea {
    all: unset;
}

textarea {
    resize: none !important;
}

.title {
    font-size: 2rem;
}

.description {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    line-height: 1.5rem !important;
}

.disabled {
    visibility: hidden;
}

:root {
    --shadow: #747474;
    --scrollbarBG: #eee;
    --thumbBG: #343a40;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(63, 63, 63);
    background-image: -webkit-linear-gradient(45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent)
}

.fixedbutton {
    display: grid;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 75px;
    height: 75px;
    margin: 15px;
    background-color: #343a40;
    border-radius: 10px;
    box-shadow: 0px 7px 0px 0px gray;
    place-items: center;
}

.fixedbutton:hover {
    box-shadow: 0px 0px 0px 0px gray;
    bottom: -7px
}

.addBtn {
    width: 75px;
    height: 75px;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: rgb(143, 128, 128);
    font-size: 30px;
    font-weight: 900;
    line-height: unset;
}

.addBtn:hover {
    text-decoration: none;
    color: rgb(143, 128, 128);
    font-size: 30px;
    font-weight: 900;
}

.nav-link {
    font-size: 1.5rem;
}